default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-ast
    -   id: check-merge-conflict
    -   id: check-added-large-files
        exclude_types: ['gzip', 'jupyter']
        args: ['--maxkb=2048']
    -   id: end-of-file-fixer

-   repo: https://github.com/ambv/black
    rev: 22.8.0
    hooks:
    - id: black

-   repo: https://github.com/pycqa/flake8
    rev: 5.0.3
    hooks:
    -   id: flake8
        args: [--show-source, --statistics]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        exclude: README.md
        additional_dependencies: [toml]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.971'
    hooks:
    -   id: mypy
        args: [--no-strict-optional, --ignore-missing-imports, --scripts-are-modules, --pretty]
        additional_dependencies: [numpy==1.21.5]
