[tool.black]
line-length = 88
# temp remove third_party
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.pytest_cache
  | build
  | docs
  | stubs
)/
'''

[tool.usort]
first_party_detection = false
line_length = 88
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
src_paths = ["hta", "tests"]
skip_glob = ["examples/*"]
